.mt-30{
    margin: 30px auto !important;
}
.flex-cc{
    justify-content: center;
}
.fadeInTop{
    animation: fadeInTop 2s forwards 2s;
    opacity: 0;
}
.fadeInRight{
    animation: fadeInRight 2s forwards 2s;
    opacity: 0;
}
.fadeInBottom{
    animation: fadeInBottom 2s forwards 2s;
    opacity: 0;
}
.fadeInLeft{
    animation: fadeInLeft 2s forwards 2s;
    opacity: 0;
}
.text-center{
    text-align: center;
}
@keyframes fadeInTop {
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInRight {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInBottom {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}